<% include partials/header.ejs %>
<nav class="navbar navbar-light bg-light">
        <a class="float-left" href="/add" title="Add a New Assignment" >Add a New Assignment</a>    
        <a class="float-right" href="/home" title="Return to Home Page">Return to Home Page</a> 
        <a class="float-right" href="/search_history" title="Search Assignment History">Search Assignment History</a>
</nav> 
    <div class="container">
        <p></p>
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form class="add-assignment-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    Assignment Number:<input type="text" class="form-control" name="assignment_number" id="assignment-number" placeholder="Assignment Number" required>
                </div>
                <div class="form-group col-md-4">
                    Course Code:<input type="text" class="form-control" name="course_code" id="course-code" placeholder="Course Code" required>
                </div>
                <div class="form-group col-md-4">
                   Module Code:<input type="text" class="form-control" name="module_code" id="module-code" placeholder="Module Code" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    Lecturer Code:<input type="text" class="form-control" name="lecturer_code" id="lecturer-code" placeholder="Lecturer Code" required>
                </div>
                <div class="form-group col-md-4">
                    Assignment Release Date: <input type="date" class="form-control" name="release_date" id="release-date" placeholder="Release Date" required>
                </div>
                <div class="form-group col-md-4">
                    Assignment Title:<input type="text" class="form-control" name="assignment_title" id="assignment-title" placeholder="Assignment Title" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    Content<input type="text" class="form-control" name="content" id="content" placeholder="Content" required>
                </div>
                <div class="form-group col-md-4">
                    Assignment Due Date: <input type="date" class="form-control" name="due_date" id="due-date" placeholder="Due Date" required>
                </div>
            </div>
            <div>
                <div class="col-md-12">
                    <label for="assignment-img"><b>Assignment Image:</b?</label><br>
                    <input type="file" name="image" id="assignment-img" class="" required>
                </div>
            </div>            
            <button type="submit" class="btn btn-primary float-right">Add Assignment</button>
        </form>
        <br><br><br>
        <a><font size="2"><u>This is assignment adding page.</u></font></a>        
    </div>
</div>
</body>
</html>
