<% include partials/header.ejs %>
<nav class="navbar navbar-light bg-light">
        <a class="float-left" href="/add" title="Add a New Assignment" >Add a New Assignment</a>    
        <a class="float-right" href="/home" title="Return to Home Page">Return to Home Page</a> 
        <a class="float-right" href="/search_history" title="Search Assignment History">Search Assignment History</a>
</nav> 
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (assignment) { %>
        <p></p>
        <form class="add-assignment-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="assignment-number">Assignment Number</label>
                    <input type="text" class="form-control" name="assignment_number" id="assignment-number" value="<%= assignment.assignment_number %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="course-code">Course Code</label>
                    <input type="text" class="form-control" name="course_code" id="course-code" value="<%= assignment.course_code %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="module-code">Module Code</label>
                    <input type="text" class="form-control" name="module_code" id="module-code" value="<%= assignment.module_code %>" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="lecturer-code">Lecturer Code</label>
                    <input type="text" class="form-control" name="lecturer_code" id="lecturer-code" value="<%= assignment.lecturer_code %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="release-date">Release Date</label>
                    <input type="date" class="form-control" name="release_date" id="release-date" value="<%= assignment.release_date %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="assignment-title">Assignment Title</label>
                    <input type="text" class="form-control" name="assignment_title" id="assignment-title" value="<%= assignment.assignment_title %>" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="content">Content</label>
                    <input type="text" class="form-control" name="content" id="content" value="<%= assignment.content %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="due-date">Due Date</label>
                    <input type="date" class="form-control" name="due_date" id="due-date" value="<%= assignment.due_date %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="image">Image</label>
                    <input type="text" class="form-control" name="image" id="image" value="<%= assignment.image %>" required>
                </div> 
            </div>            
            <button type="submit" class="btn btn-success float-right">Update Assignment</button>
        </form>
        <br><br><br>
        <a><font size="2"><u>This is assignment edit page.</u></font></a>
    <% } else { %>
        <p class="text-center">Assignment Not Found. Go <a href="/add">here</a> to add assignments.</p>
    <% } %>
</div>
</div>
</body>
</html>