<% include partials/header.ejs %>
<nav class="navbar navbar-light bg-light">
        <a class="float-left" href="/add" title="Add a New Assignment" >Add a New Assignment</a>    
        <a class="float-right" href="/home" title="Return to Home Page">Return to Home Page</a> 
        <a class="float-right" href="/search_history" title="Search Assignment History">Search Assignment History</a>
</nav> 
    <div class="table-wrapper">
        <% if (assignments.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Assignment Number</th>
                        <th scope="col">Course Code</th>
                        <th scope="col">Module Code</th>
                        <th scope="col">Lecturer Code</th>
                        <th scope="col">Release Date</th>
                        <th scope="col">Assignment Title</th>
                        <th scope="col">Content</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Image</th>                        
                    </tr>
                </thead>
                <tbody>
                    <% assignments.forEach((assignment, index) => { %>
                        <tr>
                            <th scope="row"><%= assignment.id %></th>
                         
                            <td><%= assignment.assignment_number %></td>
                            <td><%= assignment.course_code %></td>
                            <td><%= assignment.module_code %></td>
                            <td><%= assignment.lecturer_code %></td>
                            <td><%= assignment.release_date %></td>
                            <td><%= assignment.assignment_title %></td>
                            <td><%= assignment.content %></td>
                            <td><%= assignment.due_date %></td>
                            <td><img src="/assets/img/<%= assignment.image %>" class="rounded-circle assignment-img" alt=""></td>                              
                            <td>
                                <a href="/edit/<%= assignment.id %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                                <a href="/delete/<%= assignment.id %>" class="btn btn-sm btn-danger">Delete</a>
                                <a href="/work_submit/<%= assignment.id %>" target="_blank" rel="noopener" class="btn btn-sm btn-primary">Work Submit</a>
                                <a href="/mark_submit/<%= assignment.id %>" target="_blank" rel="noopener" class="btn btn-sm btn-secondary">Mark Submit</a>                                                                
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No assignment found. Go <a href="/add" >here</a> to add assignments.</p>
        <% } %>
    </div>
</div>
</body>
</html>
