<% include partials/header.ejs %>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <br><br>
        <p><font size="5"><u><b>STUDENT LOGIN</b></u></font></p>
       <form class="login-student-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    Student Email:      <input type="text" class="form-control" name="email" id="email" placeholder="Email" required>
                </div>                
                <div class="form-group col-md-4">
                    Student Password: <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                </div>                      
            </div>           
            <button type="submit" class="btn btn-primary float-right" style="background-color:yellow;color:blue;border-color:yellow">Student Login</button>
        </form> 
        <br>
        <p class="text-center"><a href="/register_student" >No account yet? Click to Register a STUDENT Account</a></p> 
        <hr width="100%" align="left" color='black' noshade> 
    </div>

</div>
</body>
</html>        