<% include partials/header.ejs %>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <p>STUDENT REGISTRATION</p>
        <form class="register-student-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    First Name: <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name" required>
                </div>
                <div class="form-group col-md-4">
                    Last Name:  <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name" required>
                </div>
                <div class="form-group col-md-4">
                    Email:      <input type="text" class="form-control" name="email" id="email" placeholder="Email" required>
                </div>                
                <div class="form-group col-md-4">
                    Password: <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                </div>                      
            </div>           
            <button type="submit" class="btn btn-primary float-right">Student Register</button>
        </form>
    </div>
</div>
</body>
</html>