<% include partials/header.ejs %>
<nav class="navbar navbar-light bg-light">
        <a class="float-left" href="/add" title="Add a New Assignment" >Add a New Assignment</a>    
        <a class="float-right" href="/home" title="Return to Home Page">Return to Home Page</a> 
        <a class="float-right" href="/search_history" title="Search Assignment History">Search Assignment History</a>
</nav> 
    <div class="container">
        <p></p>
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form class="search-history-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    Student Number:<input type="text" class="form-control" name="student_number" id="student-number" placeholder="Student Number" required>
                </div>           
            </div>        
            <button type="submit" class="btn btn-primary float-right">Submit Search</button>
        </form>
        <br><br><br>
        <a><font size="2"><u>This is assignment history search page.</u></font></a>        
    </div>
</div>
</body>
</html>