<% include partials/header.ejs %>
<nav class="navbar navbar-light bg-light">
        <a class="float-left" href="/add" title="Add a New Assignment" >Add a New Assignment</a>    
        <a class="float-right" href="/home" title="Return to Home Page">Return to Home Page</a> 
        <a class="float-right" href="/search_history" title="Search Assignment History">Search Assignment History</a>
</nav> 
    <div class="container">
        <p></p>
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form class="submit-work-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    Assignment Number:<input type="text" class="form-control" name="assignment_number" id="assignment-number" placeholder="Assignment Number" required>
                </div>
                <div class="form-group col-md-4">
                    Student Number:<input type="text" class="form-control" name="student_number" id="student-number" placeholder="Student Number" required>
                </div>
                <div class="form-group col-md-4">
                    Assignment Submit Date:<input type="date" class="form-control" name="work_submit_date" id="work-submit-date" placeholder="Work Submit Date" required>
                </div>
            </div>
            <div>
                <div class="col-md-12">
                    <label for="work-file"><b>Work File</b?</label><br>
                    <input type="file" name="work_file" id="work-file" class="" required>
                </div>
            </div>            
            <button type="submit" class="btn btn-primary float-right">Submit Work</button>
        </form>
        <br><br><br>
        <a><font size="2"><u>This is assignment submit page.</u></font></a>
    </div>
</div>
</body>
</html>
